
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="This is an web app that allow users to log in and register and admins to use CRUD for songs.">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          asp-suppress-fallback-integrity="true" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous" />
    <environment include="Development">
        <link href="~/css/bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="bg-dark p-3 row text-white">
        <div class="col">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="m-3">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div>
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)
        }
    </div>
    <footer>
        <p>
            <center>
                <span>&copy; @DateTime.Now.Year - Songs Store</span>
            </center>
        </p>
    </footer>
</body>
</html>