@model Song


<div class="card card-outline-primary m-1">

    <img id="imageStandart" class="card-img-top" src="@Url.Content(Model.ImagePath)" alt="Single Image" asp-append-version="true" />

    <hr class="hrSongSummary" />
    <div class="bg-faded centerDetailsSongSummary">
        <h4>
            @Model.Artist -
            @Model.Name -
            @Model.MusicStyle
        </h4>
    </div>

    <hr class="hrSongSummary" />

    @*Method is post - because GET is only if request is not cause change on database*@
    <form id="@Model.Id" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <h4>
            <span class="bg-faded">
                Charts: @Model.Description 
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" id="floatRight">
                    Add To Cart
                </button>
                <span class="badge badge-pill badge-primary marginPriceRatingLabel" id="floatRight">
                    Price:
                    <small>@Model.Price.ToString("c")</small>
                </span>
            </span>
        </h4>
    </form>

    <hr class="hrSongSummary" />

    <form id="@Model.Id" asp-action="AddRating"
          asp-controller="Home" method="post">
        <input type="hidden" asp-for="Id" />
        <h4 class="marginLastRowSongSummary">
            <span class="bg-faded">
                Country song: @Model.Country
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" id="floatRight">
                    Rate
                </button>
                <span class="badge badge-pill badge-primary marginPriceRatingLabel" id="floatRight">
                    Rating:
                    <small>@Model.Rating</small>
                </span>
            </span>
        </h4>
    </form>
</div>