@model CartIndexViewModel


<center><h2 class="headlineCart">Your cart</h2></center>
    <div>
        <table class="table table-bordered table-striped">
            <thead class="whiteTable">
                <tr>
                    <th class="text-center">Artist</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Country</th>
                    <th class="text-center">Price</th>
                </tr>
            </thead>`
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-center">@line.Song.Artist</td>
                        <td class="text-center">@line.Song.Name</td>
                        <td class="text-center">@line.Song.Description</td>
                        <td class="text-center">@line.Song.Country</td>
                        <td class="text-center">@line.Song.Price.ToString("c")</td>
                        @*Remove Button*@
                        <td class="marginButtonRemove">
                            <form asp-action="RemoveFromCart" method="post">
                                <input type="hidden" name="Id"
                                       value="@line.Song.Id" />
                                <input type="hidden" name="returnUrl"
                                       value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger marginButtonRemove">
                                    Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="whiteTable">
                <tr>
                    <td colspan="4" class="text-right">Total:</td>
                    <td class="text-center">
                        @Model.Cart.ComputeTotalValue().ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <a class="btn btn-primary" href="@Model.ReturnUrl">Continue buying songs</a>
            <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
                Checkout
            </a>
        </div>
    </div>